/* Importa el CSS de Leaflet */
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');
@import "tailwindcss";


  /* Estilo para el modo claro */
body {
    background-color: #f5f5f5; /* Fondo claro */
    color: #333; /* Texto oscuro */
  }
  
  /* Estilo para el modo oscuro */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212; /* Fondo oscuro */
      color: #f5f5f5; /* Texto claro */
    }
  }
  
  